@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.flex {
    display: flex;
    align-items: center;
}

/* header */

.inicial {
    padding: 50px 5%;
}

.inicial .flex {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    align-items: center;
}

.scripit-h1 {
    color: #20df20;
    font-size: 30px;
}

.scripit-p {
    color: red;
    font-size: 25px;
}

.scripit-h2 {
    color: white;
    font-size: 40px;
}

.logo-img img {
    width: 600px;
}

/* Primeiro */

.primeiro {
    padding: 50px 5%;
}

.um-scripit-h2 h2 {
    color: #20df20;
}

.um-scripit-p p {
    color: red;
}

.um-scripit-h3 h3 {
    color: white;
}
