@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/* header */

.inicial {
    padding: 50px 5%;
}

.inicial .flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.scripit-h1 {
    color: rgb(32, 223, 32);
    font-size: 30px;
}

.scripit-p {
    color: red;
    font-size: 25px;
}

.scripit-h2 {
    color: white;
    font-size: 40px;
}

.logo-img img {
    width: 600px;
}